{% extends "base_generic.html" %}

{% block content %}
<div class="d-flex flex-row justify-content-center">
    {% if form.errors %}
        <div class="alert alert-danger">
            {% for field in form %}
                <p>{{ field.errors }}</p>
            {% endfor %}
        </div>
    {% endif %}
</div>
<div class="d-flex flex-row justify-content-center">
    {% if validlink %}
        <form action="" method="post">
            <div style="display:none">
                <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
            </div>
            <table>
                <tr>
                    <th><label for="id_new_password1">Nueva contraseña:</label></th>
                    <td>{{ form.new_password1 }}</td>
                </tr>
                <tr>
                    <th><label for="id_new_password2">Confirme contraseña:</label></th>
                    <td>{{ form.new_password2 }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="Cambiar contraseña" class="btn btn-success float-right"/></td>
                </tr>
            </table>
        </form>
    {% else %}
        <div class="alert alert-danger">
            <h1>Reseteo de contraseña falló</h1>
            <p>El link de reseteo de contraseña fue inválido, posiblemente porque ya fue usado anteriormente. Por favor solicite un nuevo reseteo de contraseña.</p>
        </div>
    {% endif %}
</div>
{% endblock %}