{% extends "base_generic.html" %}
{% block content %}
<div class="d-flex flex-row justify-content-center">
	<form action="" method="post">
		{% csrf_token %}
		<table>
			<tr class="form-group form-row">
                <td class="input input-group input-group-lg">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-user"></i></span>
                    </div>
                    {{ form.email }}
                </td>
            </tr>
		</table>
		<div class="form-row">
			<input type="submit" value="Resetear contraseña" class="btn btn-success w-100 text-uppercase"/>
        </div>
	</form>
</div>
{% endblock %}